
.image-field {
    display: flex;
    flex-direction: row;
    width: 180x;
    border-top: 2px solid $image-color;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.521);
    


    .input {
        margin: 0px;
        padding: 10px 0px;
    }
}
