@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import 'Login';
@import 'Nav';
@import 'ImageUpload';
@import 'Footer';
@import 'Products';
@import 'Profile';
@import 'Header';
@import 'ProductAdd';
@import 'Home';
@import 'Cart';
@import 'About';

* {
    box-sizing: border-box;
}





h2 {
    font-size: 35px;
}


.full-width {
    width:1000px;
}

.widthpic{
    width:1000px;
    height: 500px;
}


.heading {
    width: 900px;
}



