@import 'Login';
@import 'Nav';
@import 'ImageUpload';
@import 'Footer';
@import 'Products';
@import 'Profile';
@import 'Header';

.full-width {
    width:1000px;
}

.widthpic{
    width:1000px;
    height: 500px;
}


.heading {
    width: 900px;
}

