

.offcanvasNav {
    background-color: black;
}

.eom-offcanvas.active {
    background-color: black;
    color: white;
}


.eom-offcanvas .eom-menu-wrap .eom-menu-item:after {
    border-bottom: 5px solid #ffff;
}


.social-links {
    
    a {
        font-size: 20px;
        margin-right: 20px;
        color: white;
    }
}



